<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nachricht schreiben</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>Nachricht abschicken</h1>
<form  th:action="@{/message}" th:object="${message}" method="post">
    <textarea th:field="*{text}"></textarea>
    <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <br>
    <button class="button is-success">Kommentar abschicken</button>
</form>
<br>
<a th:href="@{/}" >Startseite</a>
</body>
</html>
