<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nachricht schreiben</title>
</head>
<body>
<h1>Nachricht schreiben</h1>
<form th:action="@{/message}" th:object="${message}" method="post">
    <textarea th:field="*{text}"></textarea>
    <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <br>![](../../../../../../../../RAPHAE~1/AppData/Local/Temp/download.jpg)
    <button type="submit">Abschicken</button>
</form>
<br>
<a th:href="@{/}" >Startseite</a>
</body>
</html>
